*{
    margin:0;
    padding:0;

}
body{
    margin:0;
    padding:0;
    background-color:lightgray;
    background-image: url("../images/bonusbg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.storage{
color:darkslateblue;
border:2px solid black;
justify-content: space-around;
position:relative;
width:500px;
left:500px;
top:20px;
padding:10px;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    position: absolute; top: 370px; left: 780px;
}
