.container {
  position: relative;
  margin-left:80px;
  margin-right:80px;
  margin-top:20px;
  height:400px;
}
#showcase {
  color: #fff;
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: block;
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f1f1f1;
  --dark-color: #333;
  --max-width: 1100px;
}
#showcase:before {
  content: '';
  background: url(../img/featured.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.sporti {
  width:100%;
  height:100%;
  background-repeat: no-repeat;
}
#showcase{
  color: #fff;
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}
#showcase:before{
  content: '';
  background: url('../images/fotball.jpg') no-repeat center fixed;
  background-size: 1400px 500px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
/* Articles */
#home-articles .articles-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
  display: grid;
  grid-template-columns: 	repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: span 2;
  align-items: center;
}
#home-articles .articles-container > *:last-child{
  grid-column: span 2;
}
#article .meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}
#article .meta .category{
  margin-top: 0.4rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Staatliches', cursive;
  margin-bottom: .75rem;
  line-height: 1.3;
}
.button{
  outline:0;
  font-size:1em;
  font-weight:600;
  background:#fff;
  border-radius: 10px;
  border:none;
  padding:1.1em 1.5em;
  text-decoration: none;
  transition:all .3s ease-out;
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.5);
}
.button:hover{
  color:gray;
}
.button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2);
}
#buttoni {
  margin-top:20px;
}
section {
  background-color: lightgray;
}
.py-2 {
  padding: 300px 200px;
}
.articles-container {
  margin-left:-50px;
  width: 950px;
  height:550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  border-radius:5px;
}
.imazhi {
  margin-top:-80px;
  padding: 10px 10px;
}
#messi {
  padding: 5px 20px;
  font-size: 1.4em;
  font-style:italic;
}
.info {
  margin-left:150px;
  margin-top:-10px;
}
.info p {
  margin-left:120px;
  margin-top:-100px;
  font-style: italic;
}
hr {
  width:400px;
}
#demo {
  background-color: lightgray;
}